<div
  class="footer-container footer page__footer footer-white footer-blue"
  id="govco-footer"
>
  <div class="container">
    <div class="row d-flex align-items-stretch">
      <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-stretch">
        <div class="footer-social">
          <p class="font-weight-light footer-descripcion">
            Este portal fue desarrollado por el estado colombiano para atención
            de trámites de todos los ciudadanos.
          </p>
          <div class="redes-sociales social-desktop">
            <span> Síguenos en:</span>
            <div class="d-flex flex-row">
              <a class="notranslate d-block mr-1"
                ><img
                  src="https://www.gov.co/uploads/2253a0f8-5d3e-4059-94d2-dd453ba58fe4.svg"
                  class="img-width"
                  alt="" /></a
              ><a class="notranslate d-block mr-1"
                ><img
                  src="https://www.gov.co/uploads/db6f60d8-de5e-4610-a832-9b943e5fbf23.svg"
                  class="img-width"
                  alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-5 col-lg-5">
        <div class="row no-gutters">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <p class="font-weight-light footer-links">
              <a class="notranslate">Entidades</a>
            </p>
            <p class="font-weight-light footer-links">
              <a class="notranslate">Trámites</a>
            </p>
            <p class="font-weight-light footer-links">
              <a class="notranslate">Sobre nosotros</a>
            </p>
            <p class="font-weight-light footer-links">
              <a class="notranslate">Datos Abiertos</a>
            </p>
            <p class="font-weight-light footer-links">
              <a class="notranslate">Urna de Cristal</a>
            </p>
            <p class="font-weight-light footer-links">
              <a class="notranslate">Términos de uso</a>
            </p>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 d-flex">
            <div class="contacto">
              <div class="texto-contacto">
                <p class="text-bold mb-2 text-white">Contacto:</p>
                <p
                  class="notranslate footer-contacto-tel font-weight-light mb-1"
                >
                  Nacional 01 8000 95 2525
                </p>
                <p class="notranslate footer-contacto-tel font-weight-light">
                  Bogotá +57 (1) 390 7950
                </p>
              </div>
              <div class="botones-contacto">
                <button type="button" class="btn btn-round btn-footer-white">
                  <span
                    class="govco-icon govco-icon-call-center text-white govco-icon-size"
                  ></span
                  ><span class="btn-govco-text text-white font-weight-light"
                    >SOLICITA UNA LLAMADA</span
                  >
                </button>
                <button type="button" class="btn btn-round btn-footer-white">
                  <img
                    src="https://www.gov.co/uploads/b21f064b-dbf9-4b79-8e6c-df22fb7aa17e.svg"
                    alt=""
                    class="icono-btn"
                  /><span class="btn-govco-text text-white font-weight-light"
                    >HABLEMOS EN LÍNEA</span
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="row h-100 align-items-end">
          <div class="redes-sociales social-mobile">
            <div class="d-flex flex-row">
              <a class="notranslate d-block mr-1"
                ><img
                  src="https://www.gov.co/uploads/2253a0f8-5d3e-4059-94d2-dd453ba58fe4.svg"
                  class="img-width"
                  alt="Responsive image" /></a
              ><a class="notranslate d-block mr-1"
                ><img
                  src="https://www.gov.co/uploads/db6f60d8-de5e-4610-a832-9b943e5fbf23.svg"
                  class="img-width"
                  alt="Responsive image"
              /></a>
            </div>
          </div>
          <div class="col-12 d-flex flex-row justify-content-between">
            <div id="icons-govco">
              <img
                src="https://www.gov.co/uploads/23c08fdb-7970-420c-a556-c3af1802ef58.svg"
                class="img-fluid footer-icon-co"
                alt="Responsive image"
              /><img
                src="https://www.gov.co/uploads/53cb9900-1f6d-4d95-81a1-02e02efbe3be.svg"
                class="img-fluid footer-icon-govco"
                alt="Responsive image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
