<div class="col-12" align="center">
  <div class="row">
    <div class="col-4">
      <a
        class="icono-tarjeta-govco vertical-tarjeta-govco"
        title="Submenu"
        (click)="redirectToLink('Desempeño y gestión institucional')"
      >
        <div class="container-icono-tarjeta-govco">
          <img
            src="https://www.gov.co/uploads/9d4af2e2-dbf1-4113-a463-0decc05c1b4b.svg"
            alt="descripción de la imagen"
          />
        </div>
        <div class="body-tarjeta-govco">
          <div class="title-body-tarjeta-govco">
            <h5>Desempeño y gestión institucional</h5>
          </div>
          <p>
            Descripción de 95 caracteres (espacios incluidos) del contenido de
            la categoría seleccionada.
          </p>
        </div>
      </a>
    </div>
    <div class="col-4">
      <a
        class="icono-tarjeta-govco vertical-tarjeta-govco"
        title="Submenu"
        (click)="redirectToLink('Estado de los recursos naturales')"
      >
        <div class="container-icono-tarjeta-govco">
          <img
            src="https://www.gov.co/uploads/9d4af2e2-dbf1-4113-a463-0decc05c1b4b.svg"
            alt="descripción de la imagen"
          />
        </div>
        <div class="body-tarjeta-govco">
          <div class="title-body-tarjeta-govco">
            <h5>Estado de los recursos naturales</h5>
          </div>
          <p>
            Descripción de 95 caracteres (espacios incluidos) del contenido de
            la categoría seleccionada.
          </p>
        </div>
      </a>
    </div>
    <div class="col-4">
      <a
        class="icono-tarjeta-govco vertical-tarjeta-govco"
        title="Submenu"
        (click)="redirectToLink('Prioridades de gobierno')"
      >
        <div class="container-icono-tarjeta-govco">
          <img
            src="https://www.gov.co/uploads/9d4af2e2-dbf1-4113-a463-0decc05c1b4b.svg"
            alt="descripción de la imagen"
          />
        </div>
        <div class="body-tarjeta-govco">
          <div class="title-body-tarjeta-govco">
            <h5>Prioridades de gobierno</h5>
          </div>
          <p>
            Descripción de 95 caracteres (espacios incluidos) del contenido de
            la categoría seleccionada.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
