<nav aria-label="Miga de pan predeterminada de tres niveles">
  <ul class="breadcrumb-govco">
    <li class="breadcrumb-item-govco"><a href="/inicio">Inicio</a></li>
    <!-- <li class="breadcrumb-item-govco active" aria-current="page"> {{ module }} </li>
      <li class="breadcrumb-item-govco active" aria-current="page"> {{ module }} </li> -->
  </ul>
</nav>
<div class="contenedor-half" align="center">
  <div class="card card-default">
    <div class="card-body">
      <iframe
        class="height-pbd-px"
        title="MMAMA0001-2-3-5-6"
        width="100%"
        src="https://app.powerbi.com/reportEmbed?reportId=428d1a06-aec1-4ae9-b2a0-87cf7f894957&autoAuth=true&ctid=2a8829ee-2246-461e-86bd-aac44a8a8113"
        frameborder="0"
        allowFullScreen="false"
      >
      </iframe>
    </div>
  </div>
</div>
