<nav aria-label="Miga de pan predeterminada de tres niveles">
  <ul class="breadcrumb-govco">
    <li class="breadcrumb-item-govco"><a href="/inicio">Inicio</a></li>
    <!-- <li class="breadcrumb-item-govco active" aria-current="page"> {{ module }} </li>
      <li class="breadcrumb-item-govco active" aria-current="page"> {{ module }} </li> -->
  </ul>
</nav>
<div>
  <div class="card card-default">
    <div class="card-body">
      <iframe
        title="MMAMA0007"
        width="100%"
        height="200px"
        src="https://app.powerbi.com/view?r=eyJrIjoiYjg5MjhiMWItMDUyYS00MjQ0LTk2NmQtMGRlNzY4MTNhZTRiIiwidCI6IjJhODgyOWVlLTIyNDYtNDYxZS04NmJkLWFhYzQ0YThhODExMyJ9"
        frameborder="0"
        allowFullScreen="true"
      ></iframe>
    </div>
  </div>
</div>
<div>
  <div class="card card-default">
    <div class="card-body">
      <iframe
        title="MMAMA0008"
        width="100%"
        height="580px"
        src="https://app.powerbi.com/view?r=eyJrIjoiODhmZWFiODgtYjhlZC00MmE1LThmZGUtMDRhMzNjMjQ2MjM0IiwidCI6IjJhODgyOWVlLTIyNDYtNDYxZS04NmJkLWFhYzQ0YThhODExMyJ9"
        frameborder="0"
        allowFullScreen="true"
      ></iframe>
    </div>
  </div>
</div>
