<nav aria-label="Miga de pan predeterminada de tres niveles">
  <ul class="breadcrumb-govco">
    <li class="breadcrumb-item-govco"><a href="/inicio">Inicio</a></li>
    <li class="breadcrumb-item-govco" aria-current="page">{{ module }}</li>
    <li class="breadcrumb-item-govco active" aria-current="page">Tema</li>
    <li class="breadcrumb-item-govco active" aria-current="page">
      {{ topic }}
    </li>
  </ul>
</nav>
<div>
  <div class="card card-default">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <iframe
            title="MBDPA0001"
            width="100%"
            height="450px"
            src="https://app.powerbi.com/reportEmbed?reportId=4ba34d1c-80f2-4f20-b1f0-3bfdfd3d194d&autoAuth=true&ctid=2a8829ee-2246-461e-86bd-aac44a8a8113"
            frameborder="0"
            allowFullScreen="true"
          ></iframe>
        </div>
        <div class="col-md-6">
          <iframe
            title="MBDPA0002"
            width="100%"
            height="450px"
            src="https://app.powerbi.com/reportEmbed?reportId=b1e02f87-fe7c-4ec1-9c14-f5ab91ed51b6&autoAuth=true&ctid=2a8829ee-2246-461e-86bd-aac44a8a8113"
            frameborder="0"
            allowFullScreen="true"
          ></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <iframe
            title="MBDPA0003"
            width="100%"
            height="450px"
            src="https://app.powerbi.com/reportEmbed?reportId=ad63e27c-b6eb-40a1-a83c-5eb2ffb8b369&autoAuth=true&ctid=2a8829ee-2246-461e-86bd-aac44a8a8113"
            frameborder="0"
            allowFullScreen="true"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
