<div class="row outter-container">
  <div class="col-12">
    <div class="row justify-content-center inner-container">
      <div class="col-11 col-sm-10">
        <div class="row">
          <div class="col-12 col-xl-8">
            <a href="https://www.minambiente.gov.co/" target="_blank"
              ><h3>Ministerio de Ambiente y Desarrollo Sostenible</h3></a
            >
            <p class="mt-3">
              <strong>Dirección:</strong>
              Calle 37 No. 8-40, Bogotá D.C. - Colombia
            </p>
            <p>
              <strong>Horario de atención:</strong>
              Lunes a Viernes de 8:00 am a 4:30 pm
            </p>
            <p>
              <strong>Conmutador:</strong>
              +57 601 332 3400,
              <strong>Whatsapp:</strong>
              +57 310 221 3891
            </p>
            <p>
              <strong>Línea gratuita nacional:</strong>
              018000 919301
            </p>
            <p>
              <strong>Correo institucional: </strong>
              <a
                href="mailto:servicioalciudadano@minambiente.gov.co"
                target="_blank"
                >servicioalciudadano@minambiente.gov.co</a
              >
            </p>
            <p>
              <strong>Denunciar actos de corrupción: </strong>
              <a
                href="mailto:soytransparente@minambiente.gov.co"
                target="_blank"
                >soytransparente@minambiente.gov.co</a
              >
            </p>
            <p>
              <strong>Notificaciones judiciales: </strong>
              <a
                href="mailto:procesosjudiciales@minambiente.gov.co"
                target="_blank"
                >procesosjudiciales@minambiente.gov.co</a
              >
            </p>
          </div>
          <div class="col-4 d-none d-xl-block">
            <a href="https://www.minambiente.gov.co/" target="_blank">
              <picture>
                <source
                  srcset="https://estilos.minambiente.gov.co/minambiente.avif"
                  type="image/avif"
                  class="img-fluid"
                />
                <img
                  src="https://estilos.minambiente.gov.co/minambiente.png"
                  alt=""
                  class="img-fluid"
                />
              </picture>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <ul class="redes mt-3">
              <li>
                <a href="https://twitter.com/minambienteco" target="_blank">
                  <i class="fab fa-twitter fa-circulo"></i>
                </a>
              </li>
              <li>
                <a href="https://instagram.com/minambientecol" target="_blank">
                  <i class="fab fa-instagram fa-circulo"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://www.facebook.com/MinisteriodeAmbienteyDesarrolloSostenible/"
                  target="_blank"
                >
                  <i class="fab fa-facebook-f fa-circulo"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://www.youtube.com/user/minambientegov"
                  target="_blank"
                >
                  <i class="fab fa-youtube fa-circulo"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://www.flickr.com/photos/190806595@N03/albums"
                  target="_blank"
                >
                  <i class="fab fa-flickr fa-circulo"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://wa.me/573102213891?text=Bienvenido%20al%20Portal%20Web%20del%20Ministerio%20de%20Ambiente%20y%20Desarrollo%20Sostenible. Cuéntanos%20¿cómo%20podemos%20ayudarte%20hoy?"
                  target="_blank"
                >
                  <i class="fab fa-whatsapp fa-circulo"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-12">
            <ul class="links">
              <li
                class="
                  menu-item
                  menu-item-type-custom
                  menu-item-object-custom
                  menu-item-134
                  nav-item
                "
              >
                <a
                  href="https://www.minambiente.gov.co/politica-de-proteccion-de-datos-personales/"
                  class="nav-link"
                  >Políticas</a
                >
              </li>
              <li
                class="
                  menu-item
                  menu-item-type-custom
                  menu-item-object-custom
                  menu-item-135
                  nav-item
                "
              >
                <a href="#" class="nav-link">Mapa del sitio</a>
              </li>
              <li
                class="
                  menu-item
                  menu-item-type-custom
                  menu-item-object-custom
                  menu-item-26856
                  nav-item
                "
              >
                <a
                  href="http://intranet.minambiente.gov.co/wp-login.php?redirect_to=http%3A%2F%2Fintranet.minambiente.gov.co%2F&amp;reauth=1"
                  class="nav-link"
                  >Intranet</a
                >
              </li>
              <li
                class="
                  menu-item
                  menu-item-type-custom
                  menu-item-object-custom
                  menu-item-26857
                  nav-item
                "
              >
                <a
                  href="https://login.live.com/login.srf?wa=wsignin1.0&amp;rpsnv=13&amp;ct=1632104533&amp;rver=7.0.6737.0&amp;wp=MBI_SSL&amp;wreply=https%3a%2f%2foutlook.live.com%2fowa%2f%3fnlp%3d1%26RpsCsrfState%3dc244eb06-e277-2bc7-ccf9-06bca16b63a6&amp;id=292841&amp;aadredir=1&amp;CBCXT=out&amp;lw=1&amp;fl=dob%2cflname%2cwld&amp;pcexp=false&amp;cobrandid=90015"
                  class="nav-link"
                  >Correo Institucional</a
                >
              </li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="row outter-container-2"></div>

<!-- @TODO -->
<!-- <div class="container bg-blanco-footer">
  <div class="row">
    <div class="col-12 col-md-8"><section id="block-7" class="widget widget_block"><div>
      <h3 class="widget-title p-0">Ministerio de Ambiente y Desarrollo Sostenible</h3>
      <p>Dirección: <a href="https://www.google.com/maps/dir//Cl.+37+%238-40+Bogotá/@4.6250695,-74.0671264,19z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8e3f9987bb8a31b3:0x78e34434fd1f2281!2m2!1d-74.0671264!2d4.6250695" target="_blank" rel="noopener" class="customize-unpreviewable">Calle 37 No. 8-40, Bogotá D.C.</a><br>
        Horario de atención: Lunes a Viernes de 8:00 am a 4:30 pm<br>
        Teléfono conmutador: +57 601 332 3400 - Whatsapp: <a href="https://wa.me/573102213891?text=Bienvenido%20al%20Portal%20Web%20del%20Ministerio%20de%20Ambiente%20y%20Desarrollo%20Sostenible. Cuéntanos%20¿cómo%20podemos%20ayudarte%20hoy?" target="_blank" rel="noopener" class="customize-unpreviewable">+57 310-221 3891</a><br>
        Línea gratuita nacional: <a href="tel:018000919301">01 8000 919 301</a><br>
        Correo:<a href="mailto:servicioalciudadano@minambiente.gov.co">servicioalciudadano@minambiente.gov.co</a></p>
    </div></section><section id="block-9" class="widget widget_block"><ul class="he_footer_redes">
      <a target="_blank" href="https://twitter.com/minambienteco" rel="noopener">
        <li>
          <i class="fab fa-twitter fa-circulo"></i>
          <div class="fa_text">Twitter</div>
        </li>
      </a>
      <a target="_blank" href="https://instagram.com/minambientecol" rel="noopener">
        <li>
          <i class="fab fa-instagram fa-circulo"></i>
          <div class="fa_text">Instagram</div>
        </li>
      </a>
      <a target="_blank" href="https://www.facebook.com/MinisteriodeAmbienteyDesarrolloSostenible/" rel="noopener">
        <li>
          <i class="fab fa-facebook-f fa-circulo"></i>
          <div class="fa_text">Facebook</div>
        </li>
      </a>
    </ul></section><section id="nav_menu-2" class="widget widget_nav_menu"><div class="menu-menu-footer-container"><ul id="menu-menu-footer" class="menu nav flex-column"><li id="menu-item-134" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-134 nav-item"><a href="https://www.minambiente.gov.co/politica-de-proteccion-de-datos-personales/" class="nav-link">Políticas</a></li>
      <li id="menu-item-135" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-135 nav-item"><a href="#" class="nav-link">Mapa del sitio</a></li>
      <li id="menu-item-26856" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26856 nav-item"><a href="http://intranet.minambiente.gov.co/wp-login.php?redirect_to=http%3A%2F%2Fintranet.minambiente.gov.co%2F&amp;reauth=1" class="nav-link">Intranet</a></li>
      <li id="menu-item-26857" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26857 nav-item"><a href="https://login.live.com/login.srf?wa=wsignin1.0&amp;rpsnv=13&amp;ct=1632104533&amp;rver=7.0.6737.0&amp;wp=MBI_SSL&amp;wreply=https%3a%2f%2foutlook.live.com%2fowa%2f%3fnlp%3d1%26RpsCsrfState%3dc244eb06-e277-2bc7-ccf9-06bca16b63a6&amp;id=292841&amp;aadredir=1&amp;CBCXT=out&amp;lw=1&amp;fl=dob%2cflname%2cwld&amp;pcexp=false&amp;cobrandid=90015" class="nav-link">Correo Institucional</a></li>
    </ul></div></section></div>
    <div class="col-12 col-md-4"><section id="block-5" class="widget widget_block widget_media_image">
      <figure class="wp-block-image size-full"><img loading="lazy" width="300" height="59" src="https://www.minambiente.gov.co/wp-content/uploads/2021/10/logo-mads-300x59-1.png" alt="" class="wp-image-25567"></figure>
    </section></div>
  </div>
</div>

hola mundo!
<div class="row custom-footer">
  <div class="col-md-6 pl-5">
    <h1 class="mt-3">Enlaces de interés</h1>
    <div class="link mt-4">
      <a href="https://www.parquesnacionales.gov.co/" target="_blank"
        ><strong>Parques Nacionales Naturales de Colombia</strong></a
      >
    </div>
    <div class="link">
      <a href="http://runap.parquesnacionales.gov.co/" target="_blank"
        ><strong>RUNAP</strong></a
      >
    </div>
  </div>
  <div class="col-md-6 pr-4 text-right">
    <ul class="social-icons mt-3">
      <li>
        <a
          class="rss"
          data-original-title="rss"
          href="https://www.parquesnacionales.gov.co/portal/es/"
          target="_blank"
        ></a>
      </li>
      <li>
        <a
          class="facebook"
          data-original-title="facebook"
          href="https://www.facebook.com/pages/Parques-Nacionales-Naturales-de-Colombia/128836710463546"
          target="_blank"
        ></a>
      </li>
      <li>
        <a
          class="twitter"
          data-original-title="twitter"
          href="https://twitter.com/parquescolombia"
          target="_blank"
        ></a>
      </li>
      <li>
        <a
          class="youtube"
          data-original-title="youtube"
          href="https://www.youtube.com/user/ParquesNaturales1"
          target="_blank"
        ></a>
      </li>
      <li>
        <a
          class="flickr"
          data-original-title="flickr"
          href="https://www.flickr.com/photos/parquesnacionalesnaturales/"
          target="_blank"
        ></a>
      </li>
    </ul>
  </div>
</div> -->
