<form [formGroup]="form" novalidate="" class="filters-form">
  <div class="row">
    <div class="col-6">
      <div class="card card-default">
        <div class="card-body">
          <div id="sidebar" style="display: none"></div>
          <div id="visor1" style="height: 600px"></div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="col-12">
        <div class="row">
          <div class="col-2">
            <div class="card card-default">
              <div class="card-body">Icono</div>
            </div>
          </div>
          <div class="col-10">
            <div class="card card-default">
              <div class="card-body">Numero de arboles</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card card-default">
            <div class="card-body">
              <iframe
                title="MMAMA0001"
                width="500"
                height="500"
                src="https://app.powerbi.com/view?r=eyJrIjoiOGNhYjg4NGMtMWI0NS00M2JmLTk4NDUtMzM4NjUzNmNlNDE2IiwidCI6IjJhODgyOWVlLTIyNDYtNDYxZS04NmJkLWFhYzQ0YThhODExMyJ9&pageName=ReportSection6c60298ad348bb973e00"
                frameborder="0"
                allowFullScreen="true"
              >
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="row mb-1">
        <div class="col-12">
          <label>Escala</label>
        </div>
        <div class="col-md-12">
          <app-select
            placeholder="Seleccionar Escala"
            formControlName="scale"
            [list]="scaleList"
            [small]="true"
          ></app-select>
        </div>
      </div>
      <div class="row mb-1" *ngIf="form.value.scale == '1'">
        <div class="col-12">
          <label>Departamento</label>
        </div>
        <div class="col-md-12">
          <app-select
            placeholder="Seleccionar Departamento"
            formControlName="dpto"
            [list]="departamentosList"
            [small]="true"
          ></app-select>
        </div>
      </div>
      <div class="row mb-1" *ngIf="form.value.scale == '2'">
        <div class="col-12">
          <label>Municipio</label>
        </div>
        <div class="col-md-12">
          <app-select
            placeholder="Seleccionar Municipio"
            formControlName="mcpio"
            [list]="municipiosList"
            [small]="true"
          ></app-select>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-12">
          <label>Año</label>
        </div>
        <div class="col-12">
          <input
            type="text"
            formControlName="dateYYYY"
            minMode="year"
            placeholder="Selecionar año"
            (bsValueChange)="onChangeDateYYYY($event)"
            class="form-control"
            [bsConfig]="{dateInputFormat: 'YYYY'}"
            bsDatepicker
          />
        </div>
      </div>
      <div class="row mb-1">
        <div class="col-12">
          <button
            type="button"
            style="width: inherit"
            (click)="getPointsForFilters()"
            class="btn mb-sm btn-success mr-1 mb-1"
          >
            Filtrar
          </button>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-12">
          <div class="card card-default">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <span
                    >Fecha de corte de información: DD/MM/YYYY
                    <em class="icon-folder-alt"></em>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <app-select
                    placeholder="Formato"
                    formControlName="fileTypes"
                    [list]="fileTypesList"
                    [small]="true"
                  ></app-select>
                </div>
                <div class="col-7">
                  <button type="button" class="btn mb-sm btn-success mr-1 mb-1">
                    Exportar
                    <em class="icon-action-redo"></em>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-6">
    <div class="card card-default">
      <div class="card-body">
        <iframe
          title="MMAMA0001 - MMAMA0002-3-5-6"
          width="750"
          height="500"
          src="https://app.powerbi.com/view?r=eyJrIjoiOGNhYjg4NGMtMWI0NS00M2JmLTk4NDUtMzM4NjUzNmNlNDE2IiwidCI6IjJhODgyOWVlLTIyNDYtNDYxZS04NmJkLWFhYzQ0YThhODExMyJ9"
          frameborder="0"
          allowFullScreen="true"
        >
        </iframe>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card card-default">
      <div class="card-body">
        <iframe
          title="MIEIE0001-04 - Página 1"
          width="500"
          height="500"
          src="https://app.powerbi.com/view?r=eyJrIjoiY2U3MDRlNDgtNDJiMC00OWRkLWFmOTEtNjYyMDI0OGEwZGY4IiwidCI6IjJhODgyOWVlLTIyNDYtNDYxZS04NmJkLWFhYzQ0YThhODExMyJ9"
          frameborder="0"
          allowFullScreen="true"
        >
        </iframe>
      </div>
    </div>
  </div>
  <div class="col-2"></div>
</div>

<!-- <div class="col-12">
  <app-upload-local-file
    [acceptedFileTypes]="['application/zip']"
    [expectedTypes]="['ZIP']"
    [expectedTypesMap]="{'application/zip': '.zip'}"
    (fileAdded)="fileAdded($event)"
  ></app-upload-local-file>
</div> -->
