<div class="content-heading">
  Notifications
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <button
      type="button"
      (click)="showInfo()"
      class="btn btn-info mr-1"
    >
      <i class="fa fa-commenting-o"></i>
      Info
    </button>

    <button
      type="button"
      (click)="showSuccess()"
      class="btn btn-success mr-1"
    >
      <i class="fa fa-commenting-o"></i>
      Success
    </button>

    <button
      type="button"
      (click)="showWarning()"
      class="btn btn-warning mr-1"
    >
      <i class="fa fa-commenting-o"></i>
      Warning
    </button>

    <button
      type="button"
      (click)="showError()"
      class="btn btn-danger mr-1"
    >
      <i class="fa fa-commenting-o"></i>
      Error
    </button>

    <!-- @TODO: deprecated -->
    <!-- <button
      type="button"
      (click)="showCustom()"
      class="btn btn-info  mr-1"
    >
      <i class="fa fa-commenting-o"></i>
      Custom
    </button> -->
  </div>
</div>
