/* You can add global styles to this file, and also import other style files */

//== Vendor
@import '~@fortawesome/fontawesome-free/css/brands.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~simple-line-icons/css/simple-line-icons.css';

@import '~loaders.css/loaders.css';

//== Bootstrap
@import './app/shared/styles/bootstrap.scss';
//== Application
@import './app/shared/styles/app.scss';

//== Top navbar
@import './app/shared/styles/custom/top-navbar.scss';

//== Sidebar
@import './app/shared/styles/custom/sidebar.scss';

//== Filters
@import './app/shared/styles/custom/filters.scss';

//== Table
@import './app/shared/styles/custom/tables.scss';

//== Forms
@import './app/shared/styles/custom/forms.scss';

//== Modal
@import './app/shared/styles/custom/modal.scss';

//== Buttons
@import './app/shared/styles/custom/buttons.scss';

//== Pagination
@import './app/shared/styles/custom/pagination.scss';

//== Alerts
@import './app/shared/styles/custom/alerts.scss';

//== ng-select
@import './app/shared/styles/custom/ng-select.scss';

//== Switch
@import './app/shared/styles/custom/switch.scss';

//== Upload file
@import './app/shared/styles/custom/upload-file';

//== Tree
@import './app/shared/styles/custom/tree.scss';

//== Toast
@import './app/shared/styles/custom/toastr.scss';

@import './app/shared/styles/custom/auth-layout/forms.scss';

a {
  cursor: pointer;

  &.help {
    color: #656565;
    margin-left: 0.25rem;
  }
}

div.content-heading {
  small {
    font-size: 16px !important;
  }
}

div.c-checkbox {
  & > label {
    cursor: default;

    & > input[type='checkbox'],
    span {
      cursor: default;
    }
  }
}

.breadcrumb-govco {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.breadcrumb-item-govco {
  padding: 0.3rem 0.4rem 0.3rem 0.8rem;
}

.breadcrumb-item-govco + .breadcrumb-item-govco::before {
  float: left;
  padding-right: 0.8rem;
  color: #282c34;
  content: var(--bs-breadcrumb-divider, '>');
  font-weight: medium;
}

.breadcrumb-item-govco > a {
  color: #3366cc;
  text-decoration: underline;
}

.breadcrumb-item-govco.active {
  color: #282c34;
  font-weight: medium;
}

.breadcrumb-item-govco.invested {
  background-color: #004884;
}

.breadcrumb-item-govco.invested,
.breadcrumb-item-govco.invested > a,
.breadcrumb-item-govco.invested + .breadcrumb-item-govco.invested::before {
  color: #ffffff;
}

.link-click {
  color: #3366cc;
  text-decoration: underline;
}
