<nav aria-label="Miga de pan predeterminada de tres niveles">
  <ul class="breadcrumb-govco">
    <li class="breadcrumb-item-govco"><a href="/inicio">Inicio</a></li>
    <li class="breadcrumb-item-govco" aria-current="page">{{ module }}</li>
    <li class="breadcrumb-item-govco active" aria-current="page">Tema</li>
    <li class="breadcrumb-item-govco active" aria-current="page">
      {{ topic }}
    </li>
  </ul>
</nav>
<div>
  <div class="card card-default">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <iframe
            title="MIEIE0001"
            width="100%"
            height="450px"
            src="https://app.powerbi.com/reportEmbed?reportId=0554fada-7c6d-4ba1-b973-2adacc4a50f6&autoAuth=true&ctid=2a8829ee-2246-461e-86bd-aac44a8a8113"
            frameborder="0"
            allowFullScreen="true"
          ></iframe>
        </div>
        <div class="col-md-6">
          <iframe
            title="MIEIE0002"
            width="100%"
            height="450px"
            src="https://app.powerbi.com/reportEmbed?reportId=3bc00d9a-c656-4475-ae73-0eb3ddda476d&autoAuth=true&ctid=2a8829ee-2246-461e-86bd-aac44a8a8113"
            frameborder="0"
            allowFullScreen="true"
          ></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <iframe
            title="MIEIE0003"
            width="100%"
            height="450px"
            src="https://app.powerbi.com/reportEmbed?reportId=c25e5ec8-f5fa-4df8-92c5-51c7c6e5ab5c&autoAuth=true&ctid=2a8829ee-2246-461e-86bd-aac44a8a8113"
            frameborder="0"
            allowFullScreen="true"
          ></iframe>
        </div>
        <div class="col-md-6">
          <iframe
            title="MIEIE0004"
            width="100%"
            height="450px"
            src="https://app.powerbi.com/reportEmbed?reportId=6934d7e1-ebef-41f2-b4f1-c1b8eff0cb81&autoAuth=true&ctid=2a8829ee-2246-461e-86bd-aac44a8a8113"
            frameborder="0"
            allowFullScreen="true"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
